@media screen and (max-width:1000px) {
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        border-radius: 0;
    }

    .form{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .content form{
        width: 100%;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .content-cedulas .input-cedulas{
        width: 20%;
    }

    .content-cedulas{
        width: 100%;
        justify-content: space-between;
    }
 
    .subtotal2reais,.subtotal5reais,.subtotal10reais,.subtotal20reais,.subtotal50reais,.subtotal100reais,.subtotal200reais{
        width: 40%;
    }
    
}