* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(---roxo);
}

:root {
    ---branco: hsl(0, 0%, 100%);
    ---roxo: hsl(285, 100%, 40%);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
    overflow-x: hidden;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20.125rem;
    padding: 0.4375rem 0.3125rem;
    border-radius: 0.625rem;
    border: 0.3125rem solid var(---roxo);
    background-color: var(---roxo);
    -webkit-box-shadow: 0px 0px 0.625rem 0.3125rem rgb(255, 255, 255);
    -moz-box-shadow: 0px 0px 0.625rem 0.3125rem rgb(255, 255, 255);
    box-shadow: 0px 0px 0.625rem 0.3125rem rgb(253, 253, 253);
}

.content .titulo {
    margin: 0 auto;
    color: var(---branco);
    font-size: 1.093rem;
    font-weight: 900;
    text-align: center;
    width: 90%;
    border-radius: 10px;
    border-bottom: 0.5rem solid var(---branco);
    border-top: 0.5rem solid var(---branco);
    padding: 0.2rem 0;
    margin-top: 0.5rem;
    text-transform: uppercase;
}

.content .informacao {
    display: none;
    width: 100%;
    text-align: center;
    color: var(---branco);
    margin: 0.2rem 0.2rem 0.5rem 0.2rem;
    font-style: italic;
}

.form {
    width: 100%;
}

.content form {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.content-cedulas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.40625rem;
}

.content-cedulas p {
    color: var(---branco);
    margin: 0 0.1875rem;
    font-weight: bold;
}

.content-cedulas input {
    padding: 0 0.3125rem;
    width: 3rem;
    height: 1.3125rem;
    border: none;
    font-weight: 600;
    font-size: 0.75rem;
    background-color: var(---branco);
    border-radius: 0.2rem;
    -webkit-box-shadow: 0px 0px 0.2rem 0.1rem rgb(255 255 255);
    -moz-box-shadow: 0px 0px 0.2rem 0.1rem rgb(255 255 255);
    box-shadow: 0px 0px 0.2rem 0.1rem rgb(255 255 255);
}

.content-cedulas input:focus{
    background-color: rgba(0, 0, 0, 0.637);
    color: var(---branco);
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
}


.content-cedulas .input-cedulas {
    width: 17%;
    height: 2rem;

}

.content-cedulas .subtotais {
    font-size: 0.8rem;
    color: var(---roxo);
    background-color: var(---branco);
    padding: 0.1875rem 0.125rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3.4375rem;
    /* width: 100%; */
    border-radius: 0.2rem;
}

.subtotal2reais,
.subtotal5reais,
.subtotal10reais,
.subtotal20reais,
.subtotal50reais,
.subtotal100reais,
.subtotal200reais {
    width: 33%;
    overflow: hidden;
}

.img2reais,
.img5reais,
.img10reais,
.img20reais,
.img50reais,
.img100reais,
.img200reais {
    width: 6.875rem;
    height: 3.4375rem;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;

}

.img2reais {
    background-image: url("../img/rs2.jpg");
}

.img5reais {
    background-image: url("../img/rs5.jpg");
}

.img10reais {
    background-image: url("../img/rs10.jpg");
}

.img20reais {
    background-image: url("../img/rs20.jpg");
}

.img50reais {
    background-image: url("../img/rs50.jpg");
}

.img100reais {
    background-image: url("../img/rs100.jpg");
}

.img200reais {
    background-image: url("../img/rs200.jpg");
}

.totais {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(---roxo);
    width: 100%;
    height: 2.3rem;
    font-weight: 900;
    padding: 0.18rem 1.5rem 0.18rem 0.36rem;
    letter-spacing: -0.025rem;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    margin-top: 0.9rem;
    background-color: var(---branco);
}

.totais .total {
    font-size: 0.8rem;
    margin-left: 0.5rem;
    border-left: 0.2rem solid black;
    padding: 0 0 0 0.4rem;
    background-color: var(---branco);
}

.totais1 {
    width: 20%;
    background-color: var(---branco);
}

.totais1 p{
    background-color: var(---branco);
}

.totais2 {
    font-size: 0.8rem;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    background-color: var(---branco);
}

.somatotal{
    background-color: var(---branco);
}

.totais2 .cedulas {
    color: #000;
    background-color: var(---branco);
}

.botoes {
    width: 100%;
    display: flex;

}

#somar,
#limpar {
    padding: 0.5rem 0.5rem;
    margin: 1rem 0 0.5rem 0;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5rem;
    border: 0.2rem solid var(---roxo);
    color: var(---roxo);
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    background-color: var(---branco);
}

#somar {
    display: none;
    /* right: 1rem;
    bottom: 0.5rem;
    transition: 0.3s ease-in-out; */
}

#limpar {
    width: 100%;
    transition: 0.3s ease-in-out;
}

#somar:hover,
#limpar:hover {
    cursor: pointer;
    border: 0.2rem solid var(---branco);
    color: var(---branco);
    background-color: var(---roxo);
}