* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    ---branco: hsl(0, 0%, 100%);
    ---roxo: hsl(285, 100%, 40%);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 322px;
    height: 550px;
    padding: 7px 5px;
    border-radius: 10px;
    border: 5px solid var(---roxo);
    background-color: var(---roxo);
    -webkit-box-shadow: 0px 0px 20px 10px rgba(109, 109, 109, 0.76);
    -moz-box-shadow: 0px 0px 20px 10px rgba(109, 109, 109, 0.76);
    box-shadow: 0px 0px 20px 10px rgba(109, 109, 109, 0.76);
}

.content form{
    width: 100%;
}

.content-cedulas {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 6.5px;
}

.content-cedulas p {
    color: var(---branco);
    margin: 0 3px;
    font-weight: bold;
}

.content-cedulas input {
    padding: 0 5px;
    width: 52px;
    height: 21px;
    border: none;
    font-weight: 600;
    font-size: 12px;
}

.content-cedulas .subtotais{
font-size: 0.8rem;
color: var(---roxo);
background-color: var(---branco);
padding: 3px 2px;
text-align: right;
width: 100%;
}

.subtotal2reais,.subtotal5reais,.subtotal10reais,.subtotal20reais,.subtotal50reais,.subtotal100reais,.subtotal200reais{
    width: 30%;
}

.img2reais,.img5reais,.img10reais,.img20reais,.img50reais,.img100reais,.img200reais {
    width: 110px;
    height: 55px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;

}

.img2reais {
    background-image: url("../img/rs2.jpg");
}

.img5reais {
    background-image: url("../img/rs5.jpg");
}

.img10reais {
    background-image: url("../img/rs10.jpg");
}

.img20reais {
    background-image: url("../img/rs20.jpg");
}

.img50reais {
    background-image: url("../img/rs50.jpg");
}

.img100reais {
    background-image: url("../img/rs100.jpg");
}

.img200reais {
    background-image: url("../img/rs200.jpg");
}

.totais {
    color: var(---roxo);
    width: 100%;
    font-weight: 900;
    padding: 6px 24px;
    letter-spacing: -0.4px;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 15px;
    background-color: var(---branco);
}

#somar{
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

#limpar{
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
}